.middle_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-bottom: 50px;
}

.border{
    border: 1px solid rgb(0, 0, 0);
    width: 60%;
    /* margin-bottom: 20px; */
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: black;
    gap: 40px;
    margin-bottom:150px;
    margin-top: 50px;
}
.block1, .block2, .block3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height : 100%;
    width: 23%;
    padding-right: 50px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(188, 188, 188);
}

#iconblack{
    color: black;
}



.titreblock{
    color: black;
    font-size: 20px;
    font-family: "mudarail_bold";
}

.container p{
    color: black;
    font-size: 15px;
    font-family: "mudarail_bold";
   
}

.container i{
    color: green;
}