@media screen and (orientation: portrait){
    body {
        height: auto;
    }
	.menu1{
		display: none;
	}
	.menu_view{
		display: flex;
		position: fixed;
		flex-direction: column;
		justify-content: center;
        align-items: center;
		top:0;
		left:0;
		bottom: 0;
		right: 0;
		background-color: white;
		gap: 20px;
	}
	#lien1, #lien2, #lien3{
		margin: 0px;
        width: max-content;
		font-size: 30px;

	}

	#click{
		display: flex;
	}
	.bodyfix{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

    .middle_up{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #download{
        right: 5px;
        font-size: 17px;
    }

    #memojie{
        aspect-ratio: 1/1;
	    height: 250px;
    }

    #middle_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* margin-bottom: 100px; */
       
    }

    #soustitle2{
        display: none;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      
    }   

    .border{
        width: 75%;
    }
    
    .block1, .block2, .block3{
        width: 70%;
    }

    .contain_parcours{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }


    .professionel{
        width: 75%;
        padding: 20px;
        
    }

    .professionel h2{
        text-align: center;
    }

    .block1_parcours{
        gap: 10%;
    }

    .diplome{
        width: 75%;
        padding: 20px;
    }

    .form_envoi{
        width: 80%;
    }
    #footer_right{
        right: 5px;
        
    }
    
    #footer_left{
        left: 5px;

    }
    .middle_one{
        margin-bottom: 0px;
    }
    #menu i{
        display: inline;
        color: green;
        font-size: 25px;
    }

    #soumettre{
        padding: 5px;
    }
    

    
}

@media screen and (orientation: landscape){
	#click{
		display: none;
	}

    body {
        height: 100%;
    }

}
