@media screen and (orientation: portrait){
	.menu1{
		display: none;
	}
	.menu_view{
		display: flex;
		position: fixed;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top:0;
		left:0;
		bottom: 0;
		right: 0;
		background-color: white;
		gap: 20px;
	}
	#lien1, #lien2, #lien3{
		margin: 0px;
		font-size: 30px;

	}

	#click{
		display: flex;
	}
	.bodyfix{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	

    .middle_up{
        display: flex;
        flex-direction: column;
    }

    

}

@media screen and (orientation: landscape){
	#click{
		display: none;
	}

}
